<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/public/main.css" />

        <title>Hello, world!</title>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <%- include('nav.html') %>

        <h4 class="ml-2 my-3 text-center">검색 결과</h4>
        <div class="container">
            <ul class="list-group">
                <% for (var i = 0; i < posts.length; i++) { %>
                <li class="list-group-item">
                    <p>글번호: <%= posts[i]._id %></p>
                    <h4>할일 제목: <%= posts[i].title %></h4>
                    <p>할일 마감날짜: <%= posts[i].date %></p>
                    <button class="btn btn-danger delete" data-id="<%= posts[i]._id %>">삭제</button>
                </li>
                <% } %>
            </ul>
        </div>

        <script>
            /* query string 쉽게 만들기 */
            var 자료 = { 이름: '값', 이름2: '값2' }; // 이런 object 자료가 있을 때
            $.param(자료); // param을 쓰면 query string으로 변환해줌

            $(폼태그).serialize(); // 폼태그 안에 있는 모든 input의 값을 query string으로 변환해줌
        </script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrit
            y="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
